<section class="subpage subpage__settings">
    <form class="form form--subpage form__change-password">
        <div class="row row--flex row__title">
            <h1 class="flex-item">Settings</h1>
            <div class="flex-tem flex-item__buttons --visible-xs">
                <button type="button" class="btn btn--primary btn--secondary btn--secondary-mobile">Cancel</button>
                <button type="button" class="btn btn--primary btn--secondary btn--secondary-mobile">Save</button>
            </div>
        </div>        
        <div class="form-field">
            <input type="password" name="existing-password" id="existing-password" placeholder="Existing Password">
            <label for="existing-password">Existing Password</label>
        </div>
        <div class="form-field">
            <input type="password" name="new-password" id="new-password" placeholder="New Password">
            <label for="new-password">Existing Password</label>
        </div>
        <div class="form-field">
            <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm Password">
            <label for="confirm-password">Confirm Password</label>
        </div>
        <button type="button" class="btn btn--primary btn--secondary --hide-xs">Save</button>
    </form>
</section>