.navbar {
    overflow: hidden;
    .shadow-left {
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        background: #fff;
        height: 100%;
        box-shadow: 5px 0px 10px #fff;
        z-index: 1;
    }
    .shadow-right {
        position: absolute;
        top: 0;
        right: 0;
        width: 10px;
        background: #fff;
        height: 100%;
        box-shadow: -5px 0px 10px #fff;
        z-index: 1;
    }
    .navbar-content {
        display: inline-flex;
        .navbar-item {
            a {
                white-space: nowrap;
            }
        }
    }
}