.subpage__aubout {
    .row__profile-info {
        .row--flex {
            margin-bottom: 1px;
            .flex-item:not(.btn--tool) {
                &.icon {
                    font-size: em(18);
                    color: $color-light-gray-icon;
                }
                background: $color-lighter-gray-bg;
                padding: em(10);
            }
            .popup-edit {
                transition: all 0.4s ease;
                z-index: 999;                
                position: absolute;
                box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
                background: #fff;
                border-radius: em(3);
                padding: em(40) em(20) em(20) em(20);
                top: 0;
                margin-top: -8px;
                .form-field{
                    margin-bottom: 20px;
                }
                .btn{
                    margin-right: 18px;
                }
                .content--popup{
                    padding: em(20) em(10) em(10) em(10);
                }
                &.popup-edit__name{
                    left: 130px;                    
                }
                &.popup-edit__website{
                    left: 192px;
                }
                &.popup-edit__phone{
                    left: 198px;
                }
                 &.popup-edit__address{
                    left: 215px;
                }
                &:before {
                    content: '';
                    position: absolute;
                    margin-left: -19px;
                    margin-top: 10px;
                    width: 0px;
                    height: 0px;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-right: 10px solid #fff;
                }
            }
        }
    }
}