.--padding-standard{
    padding: em(20);
}

.--no-padding{
    padding: 0;
}

.--color-blue{
    color: $color-blue
}

.--color-red{
    color: $color-red;
}

.--color-green{
    color: $color-green;
}

.--background-white{
    background: #fff;
}

.--text-center {
    text-align: center;
}

.--text-right {
    text-align: right;
}

.--text-bold {
    font-weight: $font-weight-bold;
}

.--visible-xs{
    @media(min-width: $xs+1){
        display: none;
    }
}
.--hide-xs{
    @media(max-width: $xs){
        display: none;
    }
}