.navbar {
    .navbar-content {
        display: inline-flex;
        .navbar-item {            
            a {
                white-space: nowrap;
                padding: em(10);
                box-sizing: border-box;
                display: block;
            }
        }
    }
}