.form-field {
    overflow: hidden;
    input {
        display: block;
        clear: both;
        border: 0 none;
        padding: em(10) 0;
        outline: none;
        font-size: em($font-size-medium);
        color: $color-dark-gray;
        background: transparent;
    }
    label {
        text-transform: uppercase;
        font-size: em($font-size-smaller);
        color: $color-ligth-gray;
    }
    input+label {
        transition: all 0.4s ease;        
        position: absolute;
        opacity: 0;
    }
    input:focus+label {
        transform: translateY(-230%);
        opacity: 1;
    }
}