.btn {
    border: 0 none;
    outline: none;
    border-radius: em(3);
    padding: em(10) em(20);
    text-align: center;    
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
    transition: all 0.4s ease;
}

.btn--primary {     
    font-size: em($font-size-medium);
    line-height: em($font-size-medium);
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    min-width: 100px;
    text-align: center;
}

.btn--secondary {
    font-size: em($font-size-smaller);     
}

.btn--wide {
    width: 100%;
    text-align: center;
}

.btn--blue{
    background: $color-blue;
    color: #fff;
}

.btn--green{
    background: $color-green;
    color: #fff;
}

.btn--red{
    background: $color-red;
    color: #fff;
}

.btn--outline {
    border: 1px solid $color-almost-white;
    color: $color-gray;
    background: transparent;    
}
.btn--outline-blue{
    border-color: $color-blue;
    color: $color-blue;
}

.btn--outline-green{
    border-color: $color-green;
    color: $color-green;
}

.btn--outline-green{
    border-color: $color-red;
    color: $color-red;
}