//breakpoints
$xs: 680px;
$sm: 768px;
$md: 1024px;
$lg: 1200px;

//colors
$color-dark-gray: #333;
$color-gray: #95918c;
$color-ligth-gray: #cdc5c2;
$color-almost-white: #ededed;
$color-white: #fff;

$color-blue: #1f75fe;
$color-red: #ee204d;
$color-green: #1cac78;

//fonts
$font-primary: 'Open Sans', sans-serif;

//fonts sizes
$medium: 16;
$small: 14;
$smaller: 12;
$font-size-h1: 26;
$font-size-h2: 22;
$font-size-h3: 18;
$font-size-h4: 16;

//font styles
$regular: 400;
$bold: 700;
$semibold: 600;