@import '../../themes/constrjs-theme/styles/reset';
@import '../../themes/constrjs-theme/styles/variables';
@import '../../themes/constrjs-theme/styles/functions';
@import '../../themes/constrjs-theme/styles/common-modifiers';
@import '../../themes/constrjs-theme/styles/typography';
@import '../../themes/constrjs-theme/styles/layout';
@import '../../themes/constrjs-theme/styles/layout-navbar';
@import '../../themes/constrjs-theme/styles/layout-form-elements';
@import '../../themes/constrjs-theme/styles/layout-buttons';
@import '../../themes/constrjs-theme/styles/main';

.main {
    h1 {
        padding-bottom: em(5);
    }
    .col__left {
        width: 70%;
        padding-right: em(10);
        @media (max-width: $sm) {
            padding-right: em(5);
            width: 50%;
        }
    }
    .col__right {
        width: 30%;
        padding-left: em(10);
        @media (max-width: $sm) {
            padding-left: em(5);
            width: 50%;
        }
    }    
}