@import 'reset';
@import 'variables';
@import 'functions';
@import 'common-modifiers';
@import 'typography';
@import 'layout';
@import 'layout-navbar';
@import 'layout-form-elements';
@import 'layout-buttons';

body {
    transition: all 0.4s ease;
    &.search-bar--visible {
        padding-top: 50px;
        transition: all 0.4s ease;
    }
}

.logo {
    font-family: $font-logo;
    font-weight: $font-weight-light;
    font-size: em($font-size-medium);
    letter-spacing: em(1);
}

header {
    position: fixed;
    top: 0;
    z-index: 999;
    height: 50px;
    background: $color-dark-gray;
    color: $color-almost-white;
    height: 50px;
    .top {
        z-index: 2; // height: 50px;
        padding: 0 em(20);
        .top-content-wrapper {
            height: 50px;
        }
        .title-wrapper {
            padding-right: em(20);
        }
        .top__content {
            height: 50px;
            display: block;
        }
        .navbar {
            .navbar-item {
                a {
                    height: 50px;
                    border-left: 1px solid $color-gray;
                    color: $color-almost-white;
                    background: $color-gray;
                    &:last-of-type {
                        border-right: 1px solid $color-gray;
                    }
                }
            }
        }
        .logo-wrapper {
            margin-left: auto;
        }
    }
}

.search-bar {
    padding: 0 em(20);
    background: $color-white;
    top: 0px;
    height: 50px;
    position: fixed;
    transition: all 0.5s ease;
    z-index: 998;
    .btn-wrapper {
        margin-left: auto;
    }
    &.search-bar--visible {
        top: 50px;
        transition: all 0.5s ease;
    }
}

.main {
    color: $color-gray;
    padding: em(50 + 20) 0;
    min-height: 85%;
    .col__left {
        width: 70%;
        padding-right: em(10);
        @media (max-width: $sm) {
            padding-right: em(5);
            width: 50%;
        }
    }
    .col__right {
        width: 30%;
        padding-left: em(10);
        @media (max-width: $sm) {
            padding-left: em(5);
            width: 50%;
        }
    }
    .content {
        border-radius: em(4);
    }
}

.footer {
    background: $color-green;
    color: $color-white;
    min-height: 15%;
}

.footer__logo {
    margin-top: em(10);
}