.btn {
    border: 0 none;
    outline: none;
    border-radius: em(3);
    padding: em($font-size-medium);
    text-align: center;
    line-height: 100%;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
    transition: all 0.4s ease;
}

.btn--primary {
    background: $color-blue;
    color: #fff;
    font-size: em($font-size-small);
    font-weight: $font-weight-bold;
    text-transform: uppercase;
}

.btn--secondary {
    font-size: em($font-size-smaller);
    min-width: 100px;
    text-align: center;
    padding: em($font-size-small);
}

.btn--secondary-mobile {
    color: $color-blue;
    background: transparent;
    border: 0 none;
    min-width: auto;
    font-weight: $font-weight-regular;
}

.btn--wide {
    width: 100%;
    text-align: center;
}

.btn--outline {
    border: 1px solid $color-lighter-gray;
    color: $color-gray;
    background: transparent;    
}
.btn--outline-blue{
    border-color: $color-blue;
    color: $color-blue;
}

.btn--secondary-bold {    
    font-size: em(12);    
    text-transform: uppercase;
    font-weight: $font-weight-bold;    
    @media(max-width: $xs) {
        border: 0 none;
    }
}

.btn--with-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    .icon {
        font-size: em(28);
        color: $color-lighter-gray;
        margin-right: 16px;
    }
}

.btn--tool {
    width: 43px;
    border-radius: 0;
    color: $color-gray-soft;
    background: $color-lighter-gray-bg1;
    &:hover,
    &.active {
        background: $color-blue;
        color: #fff;
    }
}