section.profile {
    //header
    header {
        margin-top: em(70);
        @media(max-width: $xs) {
            background: transparent;
            margin-top: em(20);
        }
        .row__logout {
            margin-bottom: 20px;
            @media(max-width: $xs) {
                margin-bottom: 40px;
            }
        }
        .row__upload-cover-img {
            @media(max-width: $xs) {
                display: none;
            }
            .btn--outline__upload-cover-img {
                font-size: em(15);
                padding: em(10) em(20);
            }
        }
        .row__profile-image-and-info {
            margin-top: -10px;
            @media(max-width: $xs) {
                margin-top: 0px;
            }
            .profile-img-continer {
                width: 170px;
                height: 170px;
                @media(max-width: $xs) {
                    margin-left: auto;
                    margin-right: auto;
                }
                .profile-img-continer__image {
                    background: url(../assets/img/profile_image.jpg) top left no-repeat $color-lighter-gray-bg;
                    background-position: center 0;
                    position: absolute;
                    z-index: 1;
                }
            }
            .profile-img-continer {
                width: 170px;
                height: 170px;
                @media(max-width: $xs) {
                    margin-left: auto;
                    margin-right: auto;
                }
                .profile-img-continer__image {
                    background: url(../assets/img/profile_image.jpg) top left no-repeat $color-lighter-gray-bg;
                    background-position: center 0;
                    position: absolute;
                    z-index: 1;
                }
            }
            .row__profile-info {
                padding: 40px 20px 50px 30px;
                .flex-item {
                    margin-bottom: 5px;
                    .icon {
                        font-size: em(20);
                        margin-right: 15px;
                    }
                }
                @media(max-width: $xs) {
                    padding: 20px 0;
                    display: flex;
                    flex-wrap: wrap;
                    .flex-item {
                        width: 100%;
                    }
                    .name {
                        order: 1;
                    }
                    .phone {
                        order: 2;
                    }
                    .address {
                        order: 3;
                        margin-bottom: 0;
                    }
                }
                .name {
                    font-weight: $semibold;
                    margin-bottom: 10px;
                    @media(max-width: $xs) {
                        text-align: center;
                        margin-bottom: 20px;
                    }
                }
            }
            .col__reviews {
                color: $color-dark-gray;
                margin-left: auto;
                margin-bottom: 25px;
                margin-top: 30px;
                @media(max-width: $xs) {
                    margin-top: -10px;
                }
                .stars {
                    color: $color-gray-soft;
                    font-size: em(24);
                    margin-right: 25px;
                    @media(max-width: $xs) {
                        color: $color-blue;
                    }
                }
                .reviews-count {
                    font-size: em(14);
                    font-weight: $semibold;
                    margin-right: 10px;
                }
                .reviews {
                    font-size: em(13);
                }
            }
        }
    } //\
    //navbar
    .container__profile-navbar {
        margin-top: -55px;
        margin-bottom: em(37);
        @media(max-width: $xs) {
            margin-top: 20px;
        }
        .col__navbar {
            @media(max-width: $xs) {
                order: 2;
            }            
            .navbar__profile {
                margin-left: 200px;
                @media(max-width: $sm) {
                    width:60%;
                }
                @media(max-width: $xs) {
                    margin-left: 0px;
                    width: 100%;
                }
                .navbar-item {
                    margin-right: 25px;
                    a {
                        font-size: em(15);
                        text-transform: uppercase;
                        color: $color-gray;
                        padding-bottom: em(21);
                        border-bottom: 2px solid #fff;
                        &:hover,
                        &.active {
                            opacity: 1;
                            border-color: $color-blue;
                        }
                    }
                }
            }
        }
        .col__followers {
            position: absolute;
            right: 0;
            background: #fff;
            box-shadow: -10px 0px 5px 0px rgba(255, 255, 255, 1);
            @media(max-width: $xs) {
                order: 1;
                margin-left: 0;
                margin-top: -65px;
                background: transparent;
            }
            .content__followers {
                padding: em(20) em(20) em(14) em(20);
                .__followers-plus {
                    margin-right: 16px;
                    @media(max-width: $xs) {
                        margin-right: 8px;
                    }
                    .icon {
                        font-size: em(28);
                        color: $color-ligth-gray;
                    }
                }
                .__folowers-count {
                    margin-right: 8px;
                }
                .__folowers {
                    color: $color-ligth-gray;
                    @media(max-width: $xs) {
                        color: $color-gray;
                    }
                }
            }
        }
    } //\
    //Subpage
    .content--subpage {
        padding: 45px 40px 100px 40px;
    }
}