section.subpage{
    .row__title{
         margin-bottom: 35px;
         align-items: center;    
         .flex-item__buttons{
             margin-left: auto;
             margin-right: -10px;
         }     
    }
    h1{
        color: $color-gray-soft;       
        @media(max-width: $xs){
            font-size: em(20);
        }
    }
    .form--subpage{
        .form-field{
            margin-bottom: 40px;
            width: 270px;
            border-bottom: 1px solid $color-lighter-gray;
            @media(max-width:$xs){
                width: 100%;
            }
        }
    }
}