section.login {
    .container__login-bg {
        background-image: url(../assets/img/fullscreen_bg_image.jpg);
        background-size: cover;
        @media(max-width: $xs) {
            background: $color-dark-gray-bg;
        }
        .content__login {
            width: 500px;
            padding: em(50) em(50) em(38) em(50);
            background: #fff;
            border-radius: em(3);
            box-sizing: border-box;
            @media(max-width: $xs) {
                transform: none;
                top: 2vh;
                width: 100%;
                height: 97vh;
            }
            h1 {
                color: $color-dark-gray;
                padding-bottom: em(30);
                @media(max-width: $xs) {
                    padding-bottom: em(60);
                }
            }
            .btn__login-button {
                @media(max-width: $xs) {
                    position: fixed;
                    left: 0;
                    bottom: 0;
                }
            }
            .hr__login {
                margin-bottom: em(50);
            }
            .dsc {
                font-size: $font-size-small;
                margin-bottom: 30px;
            }
        }
    }
}