//breakpoints
$xs: 680px;
$sm: 768px;
$md: 1024px;
$lg: 1200px;

//colors
$color-dark-gray: #333;
$color-dark-gray-bg: #3c4446;
$color-gray: #3f454a;
$color-ligth-gray: #a6b0b7;
$color-light-gray-icon: #a8b8c4;
$color-lighter-gray: #d0dce7;
$color-lighter-gray-bg: #f5f8f9;
$color-lighter-gray-bg1: #ecf1f5;
$color-gray-soft: #727e88;
$color-blue: #007ee5;
$color-shadow: rgba(114,126,136,0.5);

//fonts
$font-primary: 'Open Sans', sans-serif;

//fonts sizes
$font-size-medium: 16;
$font-size-small: 14;
$font-size-smaller: 12;
$font-size-h1: 24;
$font-size-h2: 20;
$font-size-h3: 16;
$font-size-h4: 14;

//font styles
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-smibold: 600;