h1 {
    font-size: em($font-size-h1);
    padding-bottom: em(10);
    color: $color-dark-gray;
}

h2 {
    font-size: em($font-size-h2);
    padding-bottom: em(10);
    color: $color-dark-gray;
}

h3 {
    font-size: em($font-size-h3);
    padding-bottom: em(10);
    color: $color-dark-gray;
}

h4 {
    font-size: em($font-size-h4);    
    padding-bottom: em(10);
}

h5 {
    font-size: em($font-size-h5);
    padding-bottom: em(10);    
}

p{
   padding-bottom: em(5);    
}

a {
    color: $color-blue;
    text-decoration: none;
    &:hover,
    &.active {
        opacity: 0.7;
    }
    transition: all 0.4s ease;
}