<section class="login">
    <div class="container container--fullscreen container__login-bg">
        <div class="content content--vertival-center content__login">
            <h1 class="--text-center">Login</h1>
            <div class="hr hr__login --hidden-xs"></div>
            <div class="form-field">
                <input id="email" name="name" type="email" placeholder="Email" required>
                <label for="email">Email</label>
            </div>
            <div class="hr hr__login"></div>
            <div class="form-field">
                <input id="password" name="password" type="password" placeholder="Password" required>
                <label for="password">Password</label>
            </div>
            <div class="hr hr__login"></div>
            <div class="dsc --text-center">
                By signing up or clicking continue, I confirm that I have read and agree to the <a href="#">Terms</a> and <a href="#">Privacy Policy</a>
            </div>
            <button id="login-button" class="btn btn--primary btn--wide btn__login-button">Login</button>
        </div>
    </div>
</section>